/* Preset for Professional Documentation | Preferences 1 */

* {

  margin: 0;
  height: 0;
  box-sizing: border-box;

  --bg-color: #ccc;
  --txt-color: #222;
  
  --line-1: 1.15;
  --line-2: 1.25;
  --line-3: 1.5;
  --line-4: 1.75;
  --line-5: 2.0;

}

html {

  line-height: var(--line-1);
  font-weight: 400;
  font-size: 1rem;

}

body {

  background: var(--bg-color);
  color: var(--txt-color);

}
