:root 
{

/* 
 Classic B&W Document
*/
    --bg-clr1: hsla(0, 0%, 100%, 1);
    --txt-clr1: hsla(0, 0%, 0%, 1);
 
 
/* 
 Modern Gray & White
*/ 
    --bg-clr2:  hsla(0, 0%, 100%, 1);
    --txt-clr2: hsla(0, 0%, 51%, 1);

 
/* 
Sharp Blue & White
*/  
    --bg-clr3: hsla(60, 0%, 97%, 1);
    --txt-clr3: hsla(240, 100%, 25%, 1);
 

/* 
Intellected Purple & White
*/  
    --bg-clr3: hsla(0,
0%, 100%, 1);
    --txt-clr3: hsla(300,
100%, 25%, 1);


/* 

*/  
    --bg-clr4: hsla();
    --txt-clr4: hsla();


/* 

*/  
    --bg-clr5: hsla();
    --txt-clr5: hsla();


/* 

*/  
    --bg-clr5: hsla();
    --txt-clr5: hsla();

/* 
Font-Family Selection 
*/
  --ff-1: 'font/PlayfairDisplay-Regular.ttf';
  --ff-2: 'font/Merriweather-Regular.ttf';
  --ff-3: 'font/GloriaHallelujah-Regular.ttf';
  --ff-4: 'font/Charm-Regular.ttf';
  --ff-5: 'font/Montserrat-Regular.ttf';
  --ff-6: 'font/IndieFlower-Regular.ttf';
  --ff-7: 'font/Satisfy-Regular.ttf';
  --ff-8: 'font/Poppins-Regular.ttf';
  --ff-9: 'font/Raleway-Regular.ttf';
  --ff-10: 'font/Roboto-Regular.ttf';
  --ff-11: 'font/Oswald-Regular.ttf';

}

body
{
    font-size: 62.5%;
    line-height: 1.5;

}